name: Publish
on:
  push:
    tags: ["*"]
jobs:
  nuget-push:
    runs-on: ubuntu-latest
    environment: NuGet
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.x
      - run: dotnet pack
      - run: dotnet nuget push 'ScipDotnet/bin/Release/*.nupkg' --source 'nuget.org' --api-key '${{ secrets.NUGET_APIKEY }}' --skip-duplicate
  docker-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.x
      - uses: docker/setup-buildx-action@v2
      - run: echo "PATCH=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
      - run: echo "MINOR=${PATCH%.*}" >> $GITHUB_ENV
      - run: echo "MAJOR=${MINOR%.*}" >> $GITHUB_ENV
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: |
            sourcegraph/scip-dotnet:latest
            sourcegraph/scip-dotnet:${{ env.PATCH }}
            sourcegraph/scip-dotnet:${{ env.MINOR }}
            sourcegraph/scip-dotnet:${{ env.MAJOR }}
